<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Welcome to the Super Hero Search Engine</h1>
            
            <form action="" method="get">
                <label for="hero">Hero:</label>
                <input type="text" id="hero" name="hero" value="" ><br><br>
                <input type="submit" value="Submit">
            </form>
            <ul>
                <% hero_results.forEach(function(hr) { %>
                    <li>
                        <strong><%= hr.biography['full-name'] %></strong>
                        <img src='<%= hr.image['url'] %>' width="250"/>
                    </li>
                <% }); %>
            </ul>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>