<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>Welcome to SongSearch!</h1>
            <br>
            <form style="display:flex; flex-direction:row" method="GET">
                <label for="artist"><strong>Artist:</strong></label>
                <input type="text" id="artist" name="artist" placeholder="Search artists"><br><br>
                <input type="submit" value="Submit">
            </form>
            <ul>
                <% try{ artist_results.forEach(function(artist) { %>
                    <li style="display:flex; flex-direction:row">
                        <div style="padding-right: 10rem;">
                            <img src='<%= artist["artworkUrl100"]; %>' />
                        </div>
                        <div style="display:flex; flex-direction:column;">
                            <strong>
                                <%= artist["artistName"]; %>
                            </strong>
                            <span>
                                <%= artist["trackName"]; %>
                            </span>
                            <span>
                                <%= (artist["trackPrice"]).toLocaleString('en-US', {
                                    style: 'currency',
                                    currency: 'USD',
                                  }); %>
                            </span>
                        </div>
                        
                    </li>
                    <% }) ?? "" ; } catch(error){console.log(error)}%>
            </ul>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>