<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div>
            <h1 class="text-center p-5">Welcome to One.Tunes!</h1>
            <hr class="my-4" />
            <div class="input-group">
                <form class="form-outline d-flex" method="GET">
                    <input class="form-control" type="text" id="artist" name="artist">
                    <label class="form-label" for="artist">Search artists</label>
                    <button value="submit" type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <hr class="mb-4" />
            <ul>
                
                <% try{ artist_results.forEach(function(artist) { %>
                    <hr />
                    <li class="d-flex">
                        <div style="padding-right: 10rem;">
                            <img src='<%= artist["artworkUrl100"]; %>' />
                        </div>
                        <div class="d-flex flex-column">
                            <span>
                                <strong data-mdb-toggle="tooltip"
                                    title=<%=(artist["trackPrice"]).toLocaleString('en-US', { style: 'currency' ,
                                    currency: 'USD' , maximumFractionDigits: 2 });%>>
                                        <%= artist["artistName"]; %>
                                </strong>
                            </span>
                            <span>
                                <%= artist["trackName"]; %>
                            </span>
                        </div>

                    </li>
                    <% }) ?? "" ; } catch(error){console.log(error)}%>
            </ul>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>